<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>V-Blogger</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <h2>Welcome to V-Blogger</h2>
        <p>Your one-stop solution for all blogging needs.</p>
        <article>
            <h3>Latest Blog Posts</h3>
                <% posts.forEach(function(post) { %>
                <hr>
                <article>
                    <h4><%- post.title %></h4>
                    <p><%- post.content.replace(/\n/g, '<br>') %></p>
                    <p><small>Posted on (UTC): <span data-post-date="<%- post.date %>"></span> by <%- post.author %></small></p>
                </article>
            <% }); %>
        </article>
        <article>
            <h3>Popular Bloggers</h3>
            <p><i>This feature does not exist yet.</i></p>
        </article>
    </main>
    <%- include('footer') %>
</body>
</html>