<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>All Posts | V-Blogger</title>
</head>

<!-- CDNJS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<body>
    <%- include('header') %>
    <main>
        <h1>All Blog Posts</h1>
        <% posts.slice().reverse().forEach(function(post) { %>
            <article>
                <h2><%- post.title %></h2>
                <div class="markdown-content"><%- post.htmlContent %></div>
                <p><small>Posted on (UTC): <span data-post-date="<%- post.date %>"></span> by 
                    <% if (typeof post.getAuthorName === 'function') { %>
                        <%- post.getAuthorName() %>
                    <% } else { %>
                        <%= users.find(u => u.id === post.author)?.username || post.author %>
                    <% } %>
                </small></p>
            </article>
        <% }); %>
        <p><i><small style="font-size: small;">It seems you've reached the end</small></i></p>
    </main>
    <%- include('footer') %>
</body>
</html>